body {
    justify-content: flex-start; /* cross axis is horizontal, and start of the horizontal axis is left */
    align-items: flex-start; /* cross axis is horizontal, and start of the horizontal axis is left */
    background-color: #DAA520; 
    height: 100%; 
}

.rules-content {
    padding-left: 80px;
    flex-grow: 1;
    color: black;
    text-align: left;
    font-size: 18px;
    display: flex; 
    flex-direction: column; 
    padding-top: 20px;
}
.container {
    display: flex;
    flex-direction: row ;
    align-items: center;
    overflow-x: hidden;
}

.icon-image {
    width: 50px; 
    vertical-align: middle; 
    margin-bottom: 10px;
}
